#canvas {
    height: 250px;
    width: 225px;
    border: 3px solid darkcyan;
    background-image: linear-gradient(to top, darkblue) url('../assets/house outline.png');
}

.window-pane {
    height: 35px;
    width: 25px;
    border: 1px solid black;
    display: inline-block;
    padding: 20px;
    margin: 10px;

}

.darkgoldenrod {
    background-color: darkgoldenrod;
    color: white;
}

.darkcyan {
    background-color: darkcyan;
    color: white;
}

.darkblue {
    background-color: darkblue;
    color: white;
}

.new-color {
    background-color: lightgoldenrodyellow;
}

img {
    height: 245px;
    z-index: 0;
}

button {
    padding: 10px;
    margin-bottom: 10px;
}