#canvas {
    height: 250px;
    width: 350px;
    border: 1px solid aquamarine;
}

.window-pane {
    height: 35px;
    width: 25px;
    border: 1px solid black;
    display: inline-block;
    padding: 20px;
    margin: 10px;

}

.darkgoldenrod {
    background-color: darkgoldenrod;
    color: white;
}

.darkcyan {
    background-color: darkcyan;
    color: white;
}

.darkblue {
    background-color: darkblue;
    color: white;
}